
body {
    margin: 5px;
}

.menu {
    margin-bottom: 30px;
}

#results {
    width: 100%;
    height: 100%;

    margin: 0px;

    border: 1px solid black;
}

#results .panel:first-child{
    margin-top:50px;
}

#results .panel {
    margin: 10px;
}

#resize {
    float: right;
    
    margin: 10px;
}

.loader {
    border: 16px solid #ddd; /* Light grey */
    border-top: 16px solid #337ab7; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
