{% extends "base.html" %}

{% block title %}
Analysis
{% endblock %}

{% block bodylinks %}
<script src="{{ url_for('static', filename='js/analysis.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" id="form-wrapper">
                <form id="form">
                    <div class="control-group">
                        
                        <div class="form-group">
                            <label for="repository"> Repository </label>
                            <input class="form-control" type="text" id="repository" placeholder="Repository"> 
                        </div>

                        <div class="form-group">
                            <label for="yaml_root"> Yaml root </label>
                            <input class="form-control" type="text" id="yaml_root" placeholder="Yaml root"> 
                        </div>

                        <div class="form-group">
                            <label for="synonyms"> Synonyms </label>
                            <input class="form-control" type="text" id="synonyms" placeholder="Synonyms"> 
                        </div>

                        <label class="controls-label"> 
                            Analysis functions
                        </label>
                        <div class="controls">
                            <label><input type="checkbox" name="analysis-checkbox" value="depends_on" onclick="toggleAnalysisFunction(this);"> Depends on </label>
                        </div>
                        <div class="controls">
                            <label><input type="checkbox" name="analysis-checkbox" value="unused_configs" onclick="toggleAnalysisFunction(this);"> Unused configs  </label>
                        </div>
                    </div>

                    <div id="analysis-options"></div>
                    
                    <div class="control-group">
                        <label class="controls-label"> 
                            Update repository
                        </label>
                        <div class="controls">
                            <input type="checkbox" name="update-repository"> Update repository </input>
                        </div>
                    </div>



                    <button type="submit" class="btn btn-default" id="analyze"> Analyze </button>
                </form>
            </div>

            <div class="col-md-9" id="result-wrapper">
                <button class="btn btn-default" id="resize" onclick="expandButton();"><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span></button>
                <div id="results"></div>
            </div>
        </div>
    </div>
{% endblock %}
