<html>
    <head>
        <title> {% block title %} {% endblock %} </title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <!-- jQuery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <!-- Root of the site -->
        <script type=text/javascript>
            SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>

        {% block headlinks %} {% endblock %}
    </head>
    <body>
        <div class="container-fluid menu">
            <ul class="nav nav-pills">
                <li role="presentation" class="{% if active == 'analysis' %} active {% endif %}"><a href="/analysis"> Analysis </a></li>
                <li role="presentation" class="{% if active == 'graphs' %} active {% endif %}"><a href="/graphs"> Graphs </a></li>
                <li role="presentation" class="{% if active == 'profile' %} active {% endif %}"><a href="/profile"> Profile </a></li>
            </ul>
        </div>

        {% block content %} {% endblock %}

        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        {% block bodylinks %} {% endblock %}
    </body>
</html>
