{% extends "base.html" %}

{% block title %}
Graphs
{% endblock %}

{% block bodylinks %}
<script src="{{ url_for('static', filename='js/graphs.js') }}"></script>
{% endblock %}

{% block content %} 

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" id="form-wrapper">
                <form id="form">
                    <div class="form-group">
                        <label for="repository"> Repository </label>
                        <input class="form-control" type="text" id="repository" placeholder="Repository"> 
                    </div>
                    <div class="form-group">
                        <label for="yaml_root"> Yaml root </label>
                        <input class="form-control" type="text" id="yaml_root" placeholder="Yaml root"> 
                    </div>

                    <div class="control-group">
                        <label class="controls-label"> Graph type </label>
                        <div class="controls">
                            <input type="radio" name="graph_type" value="call" checked onclick="graphTypeChange(this);"> Call graph  </input>
                            <input type="radio" name="graph_type" value="include" onclick="graphTypeChange(this);"> Include graph </input>
                        </div>
                    </div>

                    <div id="call-graph-options">
                        <div class="form-group">
                            <label for="call_parameters"> Call parameters </label>
                            <input class="form-control" type="text" id="call_parameters" placeholder="Call parameters"> 
                        </div>

                        <div class="control-group">
                            <label class="controls-label"> Call display </label>
                            <div class="controls">
                                <input type="radio" name="call_display" value="none"> None </input>
                                <input type="radio" name="call_display" value="text" checked> Text  </input>
                                <input type="radio" name="call_display" value="edge"> Edge  </input>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="files"> Files </label>
                        <input class="form-control" type="text" id="files" placeholder="Files"> 
                    </div>

                    <div class="control-group">
                        <label class="controls-label"> Rank direction </label>
                        <div class="controls">
                            <input type="radio" name="rank_dir" value="left-right" checked> Left right </input>
                            <input type="radio" name="rank_dir" value="up-down"> Up down  </input>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="controls-label"> 
                            Legend
                        </label>
                        <div class="controls">
                            <input type="checkbox" name="legend"> Add legend </input>
                        </div>
                    </div>

                    <button class="btn btn-default" id="plot" type="submit"> Plot </button>
                </form>
            </div>
            <div class="col-md-9" id="graph-wrapper">
                <button class="btn btn-default" id="resize" onclick="expandButton();"><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span></button>
                <div id="graph_display"></div>
            </div>
        </div>
    </div>
{% endblock %}
