{% extends "base.html" %}

{% block title %}
Graphs
{% endblock %}

{% block bodylinks %}
<script src="{{ url_for('static', filename='js/graphs.js') }}"></script>
{% endblock %}

{% block content %} 

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <form id="form">
                    <div class="form-group">
                        <input type="text" id="repository" placeholder="Repository"> 
                    </div>
                    <div class="form-group">
                        <input type="text" id="yaml_root" placeholder="Yaml root"> 
                    </div>
                    <div class="form-group">
                        <input type="text" id="graph" placeholder="Graph type"> 
                    </div>
                    <div class="form-group">
                        <input type="text" id="files" placeholder="Files"> 
                    </div>

                    <button class="btn btn-default" id="plot" type="submit"> Plot </button>
                </form>
            </div>
            <div class="col-md-9">
                <button class="btn btn-default" id="resize"><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span></button>
                <div id="graph_display"></div>
            </div>
        </div>
    </div>
{% endblock %}
